<template name="customerAddress">
	<div class="row customer-address">
		<div class="col-md-5">
			<h1>Customer Details</h1>
			{{#autoForm id="customerForm" collection=Collections.Customers doc=this
			    type=formType}}
	  		{{#each afFieldNames}}
	    		{{> afQuickField name=this options="auto"}}
	  		{{/each}}
				<button type="reset" class="btn btn-link btn-cancel btn-unlocked">
					Cancel
				</button>
				<button type="submit" class="btn btn-primary btn-save btn-unlocked">
					Save
				</button>
				<button type="button" class="btn btn-primary btn-edit btn-locked">
		      Edit
		    </button>
			{{/autoForm}}
		</div>
	</div>
</template>
