<template name="customerDetails">
	<div class="customer">

		<p>
			<i class="fa fa-angle-left"></i>
			<a href="/customers">Back to customer list</a>
		</p>

		<div role="tabpanel">
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active">
					<a href="#customer-details" aria-controls="customer-details"
					    role="tab" data-toggle="tab">
						Details
					</a>
				</li>
				<li role="presentation">
					<a href="#customer-notes" aria-controls="customer-notes"
					    role="tab" data-toggle="tab">
						Notes
					</a>
				</li>
		  </ul>
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="customer-details">
					{{> customerAddress}}
				</div>
		    <div role="tabpanel" class="tab-pane" id="customer-notes">
					{{> customerNotes}}
				</div>
		  </div>
		</div>

	</div>
</template>
