<template name="customerNotes">
  <div class="customer-notes">

		<div class="row">
			<div class="col-md-5">
				<h1>Customer Notes</h1>

			  {{#autoForm id="customer-notes-form" collection=Collections.Notes
				    doc=this type="method" meteormethod="noteInsert"}}
			    <fieldset>
			      <legend>Add a New Note</legend>
			      {{> afQuickField name='content' rows=4}}
			    </fieldset>
			    <button type="submit" class="btn btn-primary btn-save">Save</button>
			  {{/autoForm}}

			</div>
		</div>

		<div>
			<table class="notes-table table table-striped">
				<thead>
					<tr>
						<th>Note</th>
					  <th>Created On</th>
						<th>Created By</th>
					</tr>
				</thead>
				<tbody>
					{{#each notes}}
					  <tr>
							<td class="note-content">{{content}}</td>
							<td class="note-date">{{formattedCreatedOn}}</td>
							<td class="note-creator">{{createdByEmail}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

	</div>
</template>
